# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Jupyter Notebook
.ipynb_checkpoints
example.ipynb

# Logs
*.log
wandb/

# Environment files
.env
.venv

# Package directories
dist/
build/

# Unit test / coverage reports
htmlcov/
.coverage

# IDEs
.idea/
.vscode/

# Dataset
acc_phone_clip/
acc_watch_clip/
gyro_clip/
orientation_clip/
video/
data/
*.mp4
*.csv

# Checkpoints
*.pt